body{
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}
main{
    width: 90%;
}

section.wrapper{
    height: calc(100vh - 3vh);
    background-color: rgb(217, 219, 214);
}

section.left-side{
    background-color: rgb(234, 234, 234);
    width: 35%;
    height: 95%;
}

section.right-side{
    background-image: url(../img/mine.jpg);
    width: 65%;
    height: 95%;
}
div.header-profile{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

div.icon>ul>li{
    list-style-type: none;
    display: inline;
    padding-left: .7rem;
}



div.container-img>img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    overflow: hidden;
    
}

div.container-img>p{
    margin-top: 25px;
}






div.container-adv{
    background-color: rgb(142, 218, 252);
    
}

#input-user-search{
    width: 100%;
}


div.header-profile-message{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
    
 }
 section.input-text{
    position: absolute;
    bottom: 0%; 
    width: 100%;
    background-color: rgb(243, 238, 234);
 }


 .input-user-message{
    width: 100%;
    
    
 }

 div#contact-message{
    background-color: aliceblue;
    border-radius: 1rem;


 }
 div#user-message{
    background-color: rgb(213, 249, 186);
    border-radius: 1rem;
    
 }


