body{
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}
main{
    font-family: 'Lato', sans-serif;
    width: 90%;
}

section.wrapper{
    height: calc(100vh - 4vh);
    background-color: rgb(217, 219, 214);
}

section.left-side{
    background-color: white;
    width: 35%;
    height: 100%;
}

section.right-side{
    background-image: url(../img/mine.jpg);
    width: 65%;
    height: 100%;
}

section.header-profile{
    background-color: rgb(234, 234, 234);
}

div.picture-container>img{
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
}

div.icon-bell{
    border-radius: 50%;
    background-color: white;
    height: 55px;
    width: 55px;
}

div.icon>ul>li{
    list-style-type: none;
    margin-left: 1rem;
    font-size: 1.3rem;
    padding-top: .8rem;
    color: grey;

}

.banner{
    background-color: rgb(142, 218, 252);
}

section.contacts{
    height: calc((100% / 8) - 2.6rem);
    
}



.title-profile>h6{
    font-size: 1.2rem;
}
.title-profile>p{
    font-size: .8rem;
}

section.header-room{
    background-color:  rgb(234, 234, 234);
}

div.divider{
    height: 50px;
}

div.user-message{
    background-color:  rgb(213, 249, 186);
    border-radius: 1rem;
}

div.contact-message{
    background-color: white;
    border-radius: 1rem;
}

section.input-user-message{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color:  rgb(243, 238, 234);
}