<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZapp</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- Boostrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet"> 

</head>
<body class=" d-flex justify-content-center align-items-center">
    <main> 
        <div id="app">
            <section class="wrapper d-flex">
                <!-- header User Profile -->
                <section class="left-side">
                    <section class="header-profile">
                        <div class="row p-2">
                            <div class="col-6">
                                <div class="picture-container d-flex align-items-center title-profile">
                                   <img src="./img/avatar_1.jpg" alt="">
                                   <h6 class="ps-2 ">
                                    Sofia
                                   </h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="icon">
                                    <ul class="d-flex justify-content-end me-2">
                                        <li>
                                            <i class="fa-regular fa-circle"></i>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-message"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- section (blue)banner -->
                    <section class="banner">
                        <div class="row p-2">
                            <div class="col d-flex">
                                <div class="picture-container d-flex align-items-center justify-content-center">
                                   <div class="icon-bell d-flex align-items-center justify-content-center fs-3 text-primary">
                                    <i class="fa-regular fa-bell"></i>
                                   </div>
                                </div>
                                <div class="ps-2 pt-2" >
                                    <p>
                                     Ricevi notifiche di altri messaggi <br>
                                     <a href="#">Attiva notifiche desktop</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Input research Contact  -->
                    <section class="research-contact">
                        <div class="input-group mb-2">
                            <span class="input-group-text" id=""><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" v-model="searchBar" class="form-control" placeholder="cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                       <!--  <div class="research-contact">
                            <div v-for="(contact , contactIndex ) in filteredList(contacts)" :class="( contactIndex === activeIndex) ? `visual` : `hidden`"  @click="changeContact(contactIndex)">
                                <div class="picture-container d-flex">
                                    <img :src="`./img/avatar${contact.avatar}.jpg`" alt="">
                                    <div class="ps-2 title-profile">
                                     <h6>
                                        {{ contact.name }} 
                                     </h6>
                                </div>
                                
                            </div>
                        </div> -->
                    </section>
                    <!-- section contact  -->
                    <section class="contacts" v-for="(element , index ) in filteredList(contacts)" @click="changeContact(element)">
                        <div class="row p-2 div-container-profile">
                            <div class="col-10">
                                <div class="picture-container d-flex">
                                   <img :src="`./img/avatar${element.avatar}.jpg`" alt="">
                                   <div class="ps-2 title-profile">
                                    <h6>
                                       {{ element.name}}
                                    </h6>
                                    <p class="text-secondary">
                                        ultimo accesso 
                                    </p>
                                   </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="time text-secondary">
                                   <p>
                                    
                                   </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <!-- right-side -->
                <section class="right-side position-relative">
                    <section class="header-room">
                        <div class="row p-2">
                            <div class="col-8">
                                <div class="picture-container d-flex" >
                                   <img :src="`./img/avatar${contacts[activeIndex].avatar}.jpg`" alt="">
                                   <div class="ps-2 title-profile">
                                    <h6>
                                        {{ contacts[activeIndex].name }} 
                                    </h6>
                                    <p class="text-secondary">
                                        ultimo accesso <!-- {{ timeAccess }} -->
                                    </p>
                                   </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="icon">
                                    <ul class="d-flex justify-content-end me-2">
                                        <li>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-paperclip"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Chat room -->
                    <section class="chat-room" class="message" v-for="message  in contacts[activeIndex].messages">
                        <div class="divider">
                        </div>
                        <div class="row" v-if="message.status == 'sent'">
                            <div class="offset-7 col-4 user-message position-relative" >
                                <p class="pt-1 ps-1">
                                    {{ message.message }} 
                                </p>
                                <span class="time"> {{ message.date }} </span>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row" v-else>
                            <div class="col-1">
                            </div>
                            <div class="col-4 contact-message position-relative">
                                <p class="pt-1 ps-1">
                                    {{ message.message  }} 
                                </p>
                                <span class="time"> {{ message.date }} </span>
                            </div>
                            <div class="offset-7">
                            </div>
                        </div>
                    </section>
                    <!-- Input text message for room-chat  -->
                    <section class="input-user-message">
                        <div class="row p-1">
                            <div class="col-1 fs-3 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-face-smile"></i>
                            </div>
                            <div class="col-10 mb-1 mt-1 d-flex justify-content-center">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" @keyup.enter=" sendMessage(), contactReply()" v-model="inputMessage">
                                </div>
                            </div>
                            <div class="col-1 fs-3 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </section>
                </section>
            </section>

        </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js"></script>
</body>
</html>